<section class="bg-main section">
  <div class="main-content ">
    <h2>Minha terceira grid</h2>
    <p>Descrição</p>
    <div class="d-flex p-3 flex-wrap">
      <article class="flex-grow-1 flex-shrink-1 col-lg-4 col-md-6 col-sm-12">
        <h3>Teste 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi amet, placeat pariatur, voluptatem nobis veritatis neque dicta magnam ut deserunt sed, error voluptatum consequatur reiciendis blanditiis. Odio totam necessitatibus reiciendis.</p>
      </article>
      <article class="flex-grow-1 flex-shrink-1 col-lg-4 col-md-6 col-sm-12">
        <h3>Teste 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi amet, placeat pariatur, voluptatem nobis veritatis neque dicta magnam ut deserunt sed, error voluptatum consequatur reiciendis blanditiis. Odio totam necessitatibus reiciendis.</p>
      </article>
      <article class="flex-grow-1 flex-shrink-1 col-lg-4 col-md-6 col-sm-12">
        <h3>Teste 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi amet, placeat pariatur, voluptatem nobis veritatis neque dicta magnam ut deserunt sed, error voluptatum consequatur reiciendis blanditiis. Odio totam necessitatibus reiciendis.</p>
      </article>

    </div>
  </div>
</section>
