<section class="bg-main">
  <div class="intro-content row">
    <div class="intro-text-content col-md-5">
      <h2>Seja bem-vindo(a) a minha landing page feita em angular!</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab adipisci eius. Inventore provident, modi libero maxime quam vitae, pariatur saepe quos doloribus, ducimus quasi architecto molestias fugiat veritatis. Commodi!</p>
    </div>
    <div class="intro-img col-md-3">
      <img src="../../assets/images/js.svg" alt="Imagem representativa de html, css e javaScript">
    </div>
  </div>
</section>
