
<section class="bg-white section">
  <div class="pag01-content">
    <h2>Essa é minha página de introdução</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam officia sed voluptatem placeat iure, voluptate nobis necessitatibus consequuntur fugiat! Aspernatur reiciendis nisi debitis asperiores animi voluptatum, repudiandae ipsum cupiditate voluptatem!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, officiis sunt cupiditate distinctio a saepe quae maiores excepturi voluptatem quis dolorum quia error, iusto voluptas aspernatur nulla, in totam? Cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis consequuntur veniam tenetur fuga, optio quos cupiditate exercitationem perferendis aperiam! Eos odit repudiandae cumque tempore, consequuntur temporibus mollitia quisquam iste illum.</p>
  </div>

</section>
