<section class="bg-main section">
  <div class="main-content">
    <h2 class="grid-main-heading">Primeira Grid</h2>
    <p class="grid-description">Descrição</p>
    <div class="grid row">
      <article class="col-md-4">
        <h3>Teste 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa magnam nulla hic, consequatur sed vitae quibusdam necessitatibus possimus. Dolorum natus accusamus minima labore magni facilis magnam voluptate pariatur rerum.</p>
      </article>
      <article class="col-md-4">
        <h3>Teste 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa magnam nulla hic, consequatur sed vitae quibusdam necessitatibus possimus. Dolorum natus accusamus minima labore magni facilis magnam voluptate pariatur rerum.</p>
      </article>
      <article class="col-md-4">
        <h3>Teste 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa magnam nulla hic, consequatur sed vitae quibusdam necessitatibus possimus. Dolorum natus accusamus minima labore magni facilis magnam voluptate pariatur rerum.</p>
      </article>
    </div>
  </div>
</section>
