<section class="bg-white section">
  <div class="grid1-content">
    <h2 class="grid-main-heading">Grid de fotos</h2>
    <p class="grid-description">Imagens</p>
    <div class="d-flex flex-wrap justify-content-between grid-edit">
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=1" alt="imagem aletoria">
      </div>
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=2" alt="imagem aletoria">
      </div>
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=3" alt="imagem aletoria">
      </div>
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=4" alt="imagem aletoria">
      </div>
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=5" alt="imagem aletoria">
      </div>
      <div class="gallery-img">
        <img src="https://source.unsplash.com/random/360x360?r=6" alt="imagem aletoria">
      </div>
    </div>
  </div>
</section>
