<section class="bg-white section">
  <div class="main-content justify-content-center align-items-center">
    <h2 class="grid-main-heading">Grid de fotos</h2>
    <p class="grid-description">Imagens</p>
    <div class="row gy-4">
      <div class="gallery-img col-md-4 gx-4">
        <img src="https://source.unsplash.com/random/360x360?r=1" class="img-fluid" alt="imagem aletoria">
      </div>
      <div class="gallery-img col-md-4 gx-4">
        <img src="https://source.unsplash.com/random/360x360?r=2" class="img-fluid" alt="imagem aletoria">
      </div>
      <div class="gallery-img col-md-4 ">
        <img src="https://source.unsplash.com/random/360x360?r=3" class="img-fluid" alt="imagem aletoria">
      </div>
    </div>
    <div class="row gy-4 mt-4">
      <div class="gallery-img col-md-4">
        <img src="https://source.unsplash.com/random/360x360?r=4" class="img-fluid" alt="imagem aletoria">
      </div>
      <div class="gallery-img col-md-4">
        <img src="https://source.unsplash.com/random/360x360?r=5" class="img-fluid" alt="imagem aletoria">
      </div>
      <div class="gallery-img col-md-4">
        <img src="https://source.unsplash.com/random/360x360?r=6" class="img-fluid" alt="imagem aletoria">
      </div>
    </div>
  </div>
</section>
